/* container of h1 and nav */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* nav ul li a */
.links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

/* mobile menubar */
.icons {
  font-size: 1.8rem;
  display: none;
}

/* home section */
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image img {
  width: 70rem;
  background-color: #e4e4e4;
  border-radius: 50%;
  border: 2px solid #edf3f5;
}

.title {
  font-size: 2.5rem;
  font-family: var(--poppins-font);
  line-height: 1.2;
  margin-bottom: 1rem;
}
.description {
  width: 70%;
  font-family: var(--poppins-font);
  font-weight: lighter;
  color: #495057;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
/* 
*********
*/

/* Skill Section */
.skill-line {
  display: flex;
  align-items: center;
}

.skill-offer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  row-gap: 2rem;
  margin-top: 5rem;
}

.skill-list {
  background-color: #fcfdf4;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.29);
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  font-family: var(--poppins-font);
  position: relative;
  z-index: -1;
}
.skill-list i {
  margin-right: 1rem;
  font-size: 2rem;
}
.skill-list,
.tailwind-icon {
  display: flex;
  gap: 1rem;
}
.tailwind-icon {
  /* position: absolute; */
  width: 2rem;
  display: flex;
}

.skill-paragraph {
  font-family: var(--poppins-font);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.skill-header {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.skill-statement {
  color: #495057;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-top: 1rem;
}
/* about me paragrpah */

.about-paragraph {
  margin-top: 1rem;
}
.about-paragraph p {
  line-height: 2;
  color: #495057;
  font-family: var(--poppins-font);
}

/* project section */
.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 2rem;
}
.project-cards {
  background-color: #fcfdf4;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.29);

  width: 30rem;
  position: relative;
  z-index: -1;
  padding: 2%;
  transition: all 0.5s;
  border-radius: 10px;
  margin-top: 2rem;
}
.project-cards:hover {
  transform: scale(1.03) translateY(-6px);
}

.projects {
  border-radius: 10px;
  filter: grayscale(100%);
  margin-bottom: 1rem;
}
.projects:hover {
  filter: grayscale(0);
}

.tool-use {
  font-family: var(--poppins-font);
  font-weight: lighter;
  font-size: 0.8rem;
  color: #495057;
  margin-bottom: 0.5rem;
}

/* contact */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.reach-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

/* Social Links */

.social-links {
  display: inline-block;
  /* border: 2px solid #030712;
  border-radius: 5px; */
  padding: 0.5rem 1 5rem;
  margin-right: 2rem;
  color: #161415;
  transition: all 0.5s;
  font-family: var(--poppins-font);
  font-weight: 700;
}

.social-links:hover,
.social-links:active {
  color: #2b77a4;
}

.social-links i {
  margin-left: 1rem;
}
